yfinance>=0.2.40
pandas>=2.0.0
numpy>=1.24.0
pyarrow>=14.0.0
alpaca-py>=0.30.0
pytest>=8.0.0
alphalens-reloaded>=0.4.3
matplotlib>=3.7.0
vectorbt>=0.26.0
finnhub-python>=2.4.0
TA-Lib>=0.4.28
tqdm>=4.66.0
lightgbm>=4.0.0
seaborn>=0.13.0
google-cloud-bigquery>=3.11.0
google-cloud-bigquery-storage>=2.24.0
db-dtypes>=1.2.0
